/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #3f352c;
  list-style: none;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

footer {
  background-color: white;
  color: black;
}

/* TEKST START*/
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-decoration: none;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  color: #bda18c;
}

.kategori {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
}

.seasons {
  background-color: #ffffff;
  padding: 2rem;
  margin: 2rem;
}

.seasons h2 {
  color: #3f352c;
}
.seasons h2:hover {
  color: #bda18c;
}

.produktliste {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
  gap: 2rem;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.product img {
  margin-left: 2rem;
}

.product div {
  color: #ffffff;
}

.sale {
  color: red;
  display: none;
}

.price_sale {
  display: flex;
  justify-content: space-between;
}

.on_sale::before {
  content: "SALE";
  position: absolute;
  background-color: red;
  z-index: 1000;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.sold_out::before {
  content: "SOLD OUT";
  position: absolute;
  background-color: rgb(60, 58, 58);
  z-index: 1000;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  color: #ffffff;
}

.product .sold_out::before {
  content: "SOLD OUT";
  position: absolute;
  background-color: rgb(60, 58, 58);
  z-index: 1000;
  margin-left: 4rem;
  margin-top: 2rem;
  padding: 0.5rem;
}
.product .on_sale::before {
  content: "SALE";
  position: absolute;
  background-color: rgb(60, 58, 58);
  z-index: 1000;
  margin-left: 4rem;
  margin-top: 2rem;
  padding: 0.5rem;
}

.brand {
  color: white;
}

.price {
  color: white;
}

.info {
  margin-top: 1rem;
}

.add_to_basket {
  margin-top: 5rem;
}
